.mulish-p {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.mulish-p-bold{
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.fraunces-h1 {
  font-family: "Fraunces", serif;
  font-variation-settings:
    "SOFT" 100,
    "WONK" 0;
}

.fraunces-h2 {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "SOFT" 1,
    "WONK" 0;
}

        .gradient-mask-bottom {
            mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
            -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
        }
        
        .text-mask {
            position: relative;
        }
        
        .text-mask::before {
            content: attr(data-text);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            color: white;
            clip-path: circle(600px at 50% 100%);
        }
        
        .text-mask::after {
            content: attr(data-text);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            color: black;
        }