.mulish-p {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.mulish-p-bold{
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.fraunces-h1 {
  font-family: "Fraunces", serif;
  font-variation-settings:
    "SOFT" 100,
    "WONK" 0;
}

.fraunces-h2 {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "SOFT" 1,
    "WONK" 0;
}

.semi-circle {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 200px;
    border-radius: 150px 150px 0 0;
    background-color: green;
}